<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='animations.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Graph Visualizer</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
            color: #333;
        }
        h1 {
            flex: 1;
            color: #4A90E2;
            margin: 0;
            text-align: center
        }

        #graph {
            width: 100%;
            height: 600px;
            border: 1px solid #ccc;
            margin-top: 20px;
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        #result, #bfs-result, #dijkstra-result {
            color: #d9534f;
            margin-top: 10px;
            text-align: center;
        }
        .form-group {
            margin-bottom: 20px;
            text-align: center;
        }
        .form-section {
            display: none;
            margin-top: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        .form-section.active {
            display: block;
        }
        select, button, input[type="text"], input[type="number"] {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            width: 80%;
            max-width: 300px;
            margin: 10px 0;
            transition: border-color 0.3s;
        }
        select:hover, button:hover, input[type="text"]:hover, input[type="number"]:hover {
            border-color: #4A90E2;
        }
        button {
            background-color: #4A90E2;
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #357ABD;
        }
        .suggestion-button {
            display: inline-block;
            margin: 5px;
            padding: 5px 10px;
            background-color: #E7E7E7;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .suggestion-button:hover {
            background-color: #D9D9D9;
        }
        #movie-suggestions, #bfs-suggestions, #dijkstra-suggestions {
            margin-top: 10px;
            text-align: center;
        }
        .form-section h2 {
            color: #4A90E2;
            margin-bottom: 10px;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            height: 100px;
        }

        .settings-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .settings-button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .settings-button:hover {
            background-color: #0056b3;
        }

        .toggle-switch {
            position: relative;
            width: 50px;
            height: 25px;
        }

        .toggle-switch {
            position: relative;
            width: 50px;
            height: 25px;
        }

        .toggle-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .slider:before {
            content: "";
            position: absolute;
            height: 19px;
            width: 19px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            border-radius: 50%;
            transition: transform 0.3s;
        }

        input:checked + .slider {
            background-color: #007bff;
        }

        input:checked + .slider:before {
            transform: translateX(16px);
        }

        .dummmy {
            flex: .2;
        }

        label {
            color: #000000;
        }

    </style>
</head>
<body>
<div class="header-container">
    <div class="dummmy"></div>
    <h1>Movie Graph Visualizer</h1>
    <div class="settings-container">
        <button class="settings-button" onclick="toggleVisibility()">Dark Mode</button>
        <label class="toggle-switch" id="toggle-container">
            <input type="checkbox" id="toggle">
            <span class="slider"></span>
        </label>
    </div>
</div>
<div class="form-group">
    <button id="movie-options-button">Choose one or more options(use Ctrl+Left-Click):</button>
    <div id="movie-options-container" style="display: none;">
        <select id="movie_options" class="form-control" multiple>
            <option value="Date Released">Date Released</option>
            <option value="Budget Value">Budget Value</option>
            <option value="Revenue">Revenue</option>
            <option value="Rating">Rating</option>
            <option value="Production Company">Production Company</option>
        </select>
    </div>
</div>

<div id="check"></div>

<script>
    // Add event listener to the select element
    document.getElementById('movie_options').addEventListener('change', () => {
        // Get all selected options
        const selectedOptions = Array.from( document.getElementById('movie_options').selectedOptions ).map(option => option.value);
        // Send selected options to the backend
        fetch('/handle-options', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ selectedOptions }),
        })
        .then(response => response.json())
        .then(data => {
            // Display the response from the backend
            document.getElementById('result').innerText = data.message;
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('result').innerText = 'An error occurred.';
        });
    });
</script>


        <label for="feature-select" id="chooseafeat">Choose a Feature:</label>
        <select id="feature-select">
            <option value="visualization-form">Visualization</option>
            <option value="bfs-form">Breadth-First Search</option>
            <option value="dijkstra-form">Dijkstra Search</option>
        </select>

<div id="visualization-form" class="form-section active">
    <h2>Graph Visualization</h2>
    <form id="movie-form" action="/visualize" method="POST">
        <label for="movie_id">Enter Movie Title:</label>
        <input type="text" id="movie_id" name="movie_id" required>
        <label for="max_connections">Max Connections:</label>
        <input type="number" id="max_connections" name="max_connections" value="15" min="1">
        <button type="submit">Visualize</button>
        <button type="button" id="second-movie">Add Second Movie</button>
        <div id="movie-suggestions"></div>
    </form>
</div>

<script>
    const movieInput = document.getElementById('movie_id');
    const suggestionsDiv = document.getElementById('movie-suggestions');

    movieInput.addEventListener('input', function() {
        const query = movieInput.value;

        if (query.length > 0) {
            fetch(`/suggestions?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    suggestionsDiv.innerHTML = '';
                    data.suggestions.forEach(movie => {
                        const suggestionButton = document.createElement('button');
                        suggestionButton.textContent = movie;
                        suggestionButton.classList.add('suggestion-button');
                        suggestionButton.onclick = function() {
                            movieInput.value = movie; // Fill in the movie_id input
                            suggestionsDiv.innerHTML = ''; // Clear suggestions
                        };
                        suggestionsDiv.appendChild(suggestionButton);
                    });
                });
        } else {
            suggestionsDiv.innerHTML = '';
        }
    });
</script>

<div id="bfs-form" class="form-section">
    <h2>Breadth-First Search</h2>
    <label for="start_movie">Start Movie Title:</label>
    <input type="text" id="start_movie" name="start_movie" required>
    <label for="target_movie">Target Movie Title:</label>
    <input type="text" id="target_movie" name="target_movie" required>
    <button id="bfs-button">Find Kevin Bacon Number</button>
    <div id="bfs-suggestions"></div>
</div>

<script>
    const startMovieInput = document.getElementById('start_movie');
    const targetMovieInput = document.getElementById('target_movie');
    const bfsSuggestionsDiv = document.getElementById('bfs-suggestions');

    startMovieInput.addEventListener('input', function() {
        const query = startMovieInput.value;
        fetchSuggestions(query, bfsSuggestionsDiv, startMovieInput);
    });

    targetMovieInput.addEventListener('input', function() {
        const query = targetMovieInput.value;
        fetchSuggestions(query, bfsSuggestionsDiv, targetMovieInput);
    });

    function fetchSuggestions(query, suggestionsDiv, inputField) {
        if (query.length > 0) {
            fetch(`/suggestions?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    suggestionsDiv.innerHTML = '';
                    data.suggestions.forEach(movie => {
                        const suggestionButton = document.createElement('button');
                        suggestionButton.textContent = movie;
                        suggestionButton.classList.add('suggestion-button');
                        suggestionButton.onclick = function() {
                            inputField.value = movie; // Fill in the input field
                            suggestionsDiv.innerHTML = ''; // Clear suggestions
                        };
                        suggestionsDiv.appendChild(suggestionButton);
                    });
                });
        } else {
            suggestionsDiv.innerHTML = '';
        }
    }
</script>

<div id="dijkstra-form" class="form-section">
    <h2>Dijkstra Search</h2>
    <label for="startMovie">Start Movie Title:</label>
    <input type="text" id="startMovie" name="startMovie" required>
    <label for="targetMovie">Target Movie Title:</label>
    <input type="text" id="targetMovie" name="targetMovie" required>
    <button id="dijkstra-button">Find Kevin Bacon Number</button>
    <div id="dijkstra-suggestions"></div>
</div>

<script>
    // Add event listener to the button
    document.getElementById('movie-options-button').addEventListener('click', () => {
        // Toggle the display of the select element
        const movieOptionsContainer = document.getElementById('movie-options-container');
        movieOptionsContainer.style.display = movieOptionsContainer.style.display === 'none' ? 'block' : 'none';
    });

    //Toggles visibility of darkmode toggle switch
    function toggleVisibility() {
        const toggleContainer = document.getElementById('toggle-container');
        if (toggleContainer.style.visibility === 'hidden') {
            toggleContainer.style.visibility = 'visible';
        } else {
            toggleContainer.style.visibility = 'hidden';
        }
    }

    const startMovieDijkstraInput = document.getElementById('startMovie');
    const targetMovieDijkstraInput = document.getElementById('targetMovie');
    const dijkstraSuggestionsDiv = document.getElementById('dijkstra-suggestions');

    startMovieDijkstraInput.addEventListener('input', function () {
        const query = startMovieDijkstraInput.value;
        fetchSuggestions(query, dijkstraSuggestionsDiv, startMovieDijkstraInput);
    });

    targetMovieDijkstraInput.addEventListener('input', function () {
        const query = targetMovieDijkstraInput.value;
        fetchSuggestions(query, dijkstraSuggestionsDiv, targetMovieDijkstraInput);
    });

    function fetchSuggestions(query, suggestionsDiv, inputField) {
        if (query.length > 0) {
            fetch(`/suggestions?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    suggestionsDiv.innerHTML = '';
                    data.suggestions.forEach(movie => {
                        const suggestionButton = document.createElement('button');
                        suggestionButton.textContent = movie;
                        suggestionButton.classList.add('suggestion-button');
                        suggestionButton.onclick = function () {
                            inputField.value = movie; // Fill in the input field
                            suggestionsDiv.innerHTML = ''; // Clear suggestions
                        };
                        suggestionsDiv.appendChild(suggestionButton);
                    });
                });
        } else {
            suggestionsDiv.innerHTML = '';
        }
    }
</script>

    <div id="result"></div>
    <div id="graph"></div>

<script>
    //Listens for toggle being clicked and changes elements to darkmode
    const toggleCheckbox = document.getElementById('toggle');
    toggleCheckbox.addEventListener('change', function () {
        if (toggleCheckbox.checked) {
            // Apply dark mode styles
            document.body.style.backgroundColor = "#121212";
            document.body.style.color = "#E0E0E0";
            document.getElementById('visualization-form').style.backgroundColor = "#D0D0D0";
            document.getElementById('bfs-form').style.backgroundColor = "#D0D0D0";
            document.getElementById('dijkstra-form').style.backgroundColor = "#D0D0D0";
            document.getElementById('graph').style.backgroundColor = "#D0D0D0";
            document.getElementById('chooseafeat').style.color = "white";


            document.querySelectorAll('h1, h2, h3, h4, h5, h6').forEach(el => {
                el.style.color = "#4A90E2";
            });

            document.querySelectorAll('button').forEach(el => {
                el.style.backgroundColor = "#333333";
                el.style.color = "#E0E0E0";
                el.style.border = "1px solid #252525";
            });

            document.querySelectorAll('a').forEach(el => {
                el.style.color = "#1E88E5";
            });

            document.querySelectorAll('input, select, textarea').forEach(el => {
                el.style.backgroundColor = "#252525";
                el.style.color = "#E0E0E0";
                el.style.border = "1px solid #333333";
            });

            document.querySelectorAll('.error').forEach(el => {
                el.style.color = "#CF6679";
            });

            document.getElementById('movie-title').style.color = "#1E1E1E";
            document.getElementById('max-connections').style.color = "#1E1E1E";

        } else {
            // Revert to light mode styles
            document.body.style.backgroundColor = "#f4f4f4";
            document.body.style.color = "#333";
            document.getElementById('visualization-form').style.backgroundColor = "white";
            document.getElementById('bfs-form').style.backgroundColor = "white";
            document.getElementById('dijkstra-form').style.backgroundColor = "white";
            document.getElementById('graph').style.backgroundColor = "white";
            document.getElementById('chooseafeat').style.color = "black";

            document.querySelectorAll('h1, h2, h3, h4, h5, h6').forEach(el => {
                el.style.color = "#333333";
            });

            document.querySelectorAll('button').forEach(el => {
                el.style.backgroundColor = "#4A90E2";
                el.style.color = "white";
                el.style.border = "none";
            });

            document.querySelectorAll('a').forEach(el => {
                el.style.color = "#4A90E2";
            });

            document.querySelectorAll('input, select, textarea').forEach(el => {
                el.style.backgroundColor = "white";
                el.style.color = "#333";
                el.style.border = "1px solid #ccc";
            });

            document.querySelectorAll('.error').forEach(el => {
                el.style.color = "#d9534f";
            });

            document.getElementById('movie-title').style.color = "#000000";
            document.getElementById('max-connections').style.color = "#000000";
        }
    });
    // Handle switching between forms
    document.getElementById('feature-select').addEventListener('change', function () {
        const selectedValue = this.value;
        document.querySelectorAll('.form-section').forEach(section => {
            section.classList.remove('active');
        });
        document.getElementById(selectedValue).classList.add('active');
    });

    // Visualization form submission
    document.getElementById('movie-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);
        fetch('/visualize', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (Array.isArray(data)) {
                    // Handle the case where multiple movies are found
                    let movieListHTML = '<h2>Select a Movie</h2><form id="movie-selection-form" style="color: black;"><ul>';
                    data.forEach(movie => {
                        // Check for Release Date
                        let releaseDate = 'Unknown Year';
                        if (movie.release_date) {
                            releaseDate = movie.release_date;
                        }
                        // Check for Top Cast
                        let movieCast = 'Unknown Cast';
                        if (movie.cast && movie.cast !== 'Unknown Cast') {
                            movieCast = movie.cast;
                        }
                        movieListHTML += `<li><input type="radio" id="movie_${movie.id}" name="movie_id" value="${movie.id}" required>
                        <label for="movie_${movie.id}" style="color: red;">${movie.original_title} (Release Date: ${releaseDate}) (Top Cast: ${movieCast})</label>
                        </li>`;
                    });
                    movieListHTML += '</ul><button type="submit">Visualize</button></form>';
                    document.getElementById('result').innerHTML = movieListHTML; // Display movie selection
                    document.getElementById('graph').innerHTML = ''; // Clear previous graph

                    // Add event listener for the movie selection form
                    document.getElementById('movie-selection-form').addEventListener('submit', function (e) {
                        e.preventDefault();
                        const selectedMovieId = this.movie_id.value;
                        const maxConnections = document.getElementById('max_connections').value;

                        // Fetch the graph data for the selected movie
                        fetch('/visualizeID', {
                            method: 'POST',
                            body: new URLSearchParams({
                                movie_id: selectedMovieId,
                                max_connections: maxConnections
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.graph_data) {
                                    // Parse the graph_data string into a JSON object
                                    const graphData = JSON.parse(data.graph_data);
                                    // Use Plotly to create the graph
                                    Plotly.newPlot('graph', graphData.data, graphData.layout);
                                    document.getElementById('result').innerText = ''; // Clear previous errors
                                } else {
                                    document.getElementById('result').innerText = data.error || 'An error occurred.';
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                document.getElementById('result').innerText = 'An error occurred while fetching the data.';
                            });
                    });
                } else if (data.graph_data) {
                    // If a single movie was found, plot it immediately
                    const graphData = JSON.parse(data.graph_data);
                    Plotly.newPlot('graph', graphData.data, graphData.layout);
                    document.getElementById('result').innerText = ''; // Clear previous errors
                } else {
                    document.getElementById('result').innerText = data.error || 'An error occurred.';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('result').innerText = 'An error occurred while fetching the data.';
            });
    });

    // second movie for visualization button click
    document.getElementById('second-movie').addEventListener('click', function () {
        const form = document.getElementById('movie-form');
        const secondMovieContainer = document.getElementById('second-movie-container');
        const button = this; // for alternating text

        if (secondMovieContainer) {
            // gets rid of the second movie container and alternates button text
            secondMovieContainer.remove();
            button.textContent = 'Add Second Movie';
        } else {
            // creates new container below original
            const container = document.createElement('div');
            container.id = 'second-movie-container';
            container.style.marginTop = '10px';

            const label = document.createElement('label');
            label.setAttribute('for', 'movie2_id');
            label.textContent = 'Enter Second Movie Title: ';
            label.style.color = "black"

             // second movie input
            const input = document.createElement('input');
            input.type = 'text';
            input.id = 'movie2_id';
            input.name = 'movie2_id';
            input.required = false;

            // suggestions for second movie
            const suggestionsDiv = document.createElement('div');
            suggestionsDiv.className = 'movie-suggestions';
            suggestionsDiv.id = 'movie2-suggestions';

            input.addEventListener('input', function () {
                const query = input.value;
                 if (query.length > 0) {
                        fetch(`/suggestions?query=${query}`)
                            .then(response => response.json())
                            .then(data => {
                                suggestionsDiv.innerHTML = '';
                                data.suggestions.forEach(movie => {
                                    const suggestionButton = document.createElement('button');
                                    suggestionButton.textContent = movie;
                                    suggestionButton.classList.add('suggestion-button');
                                    suggestionButton.onclick = function() {
                                        input.value = movie; // Fill in the movie_id input
                                        suggestionsDiv.innerHTML = ''; // Clear suggestions
                                    };
                                    suggestionsDiv.appendChild(suggestionButton);
                                });
                            });
                    } else {
                        suggestionsDiv.innerHTML = '';
                    }
            });


            // Create a label for Max Distance
            const maxDistanceLabel = document.createElement('label');
            maxDistanceLabel.setAttribute('for', 'max_distance');
            maxDistanceLabel.textContent = ' Max Distance: ';
            maxDistanceLabel.style.color = "Black";

            // Create an input for Max Distance
            const maxDistanceInput = document.createElement('input');
            maxDistanceInput.type = 'number';
            maxDistanceInput.id = 'max_distance';
            maxDistanceInput.name = 'max_distance';
            maxDistanceInput.value = '1'; // Default value
            maxDistanceInput.min = '1'; // Minimum value

            const secondButton = document.createElement('button');
            secondButton.type = 'button';
            secondButton.id = 'secondButton';
            secondButton.textContent = 'Visualize Two Movies';
            secondButton.required = false;
            secondButton.style.marginLeft = '4px';

            secondButton.addEventListener('click', async function () {
                document.getElementById('result').innerHTML = ''; // clear previous message
                document.getElementById('graph').innerHTML = ''; // clear previous graph
                const firstMovieName = document.getElementById('movie_id').value;
                const secondMovieName = input.value;
                const maxConnections = document.getElementById('max_connections').value; // Get the max connections value
                const maxDistance = maxDistanceInput.value; // Get the max distance value
                let firstMovieId = null;
                let secondMovieId = null;

                // Fetch the first movie data
                const firstMovieData = await fetch('/get_movie_list', {
                    method: 'POST',
                    body: new URLSearchParams({
                        start_movie: firstMovieName
                    })
                }).then(response => response.json());

                // Handle the case where multiple movies are found for the first movie
                if (Array.isArray(firstMovieData.start_movie_data)) {
                    let movieListHTML = '<h2>Select a Movie</h2><form id="start-selection-form"><ul>';
                    firstMovieData.start_movie_data.forEach(movie => {
                        let releaseDate = movie.release_date || 'Unknown Year';
                        let movieCast = movie.cast && movie.cast !== 'Unknown Cast' ? movie.cast : 'Unknown Cast';
                        movieListHTML += `<li><input type="radio" id="movie_${movie.id}" name="movie_id" value="${movie.id}" required>
                        <label for="movie_${movie.id}" style="color: red;">${movie.original_title} (Release Date: ${releaseDate}) (Top Cast: ${movieCast})</label>
                        </li>`;
                    });
                    movieListHTML += '</ul><button type="submit">Visualize</button></form>';
                    document.getElementById('result').innerHTML = movieListHTML; // Display movie selection
                    document.getElementById('graph').innerHTML = ''; // Clear previous graph

                    // Add event listener for the movie selection form
                    firstMovieId = await new Promise(resolve => {
                        const form = document.getElementById('start-selection-form');
                        form.addEventListener('submit', function (e) {
                            e.preventDefault();
                            resolve(this.movie_id.value);
                        });
                    });
                } else {
                    firstMovieId = firstMovieData.start_movie_data;
                }

                // Fetch the second movie data
                const secondMovieData = await fetch('/get_movie_list', {
                    method: 'POST',
                    body: new URLSearchParams({
                        start_movie: secondMovieName
                    })
                }).then(response => response.json());

                // Handle the case where multiple movies are found for the second movie
                if (Array.isArray(secondMovieData.start_movie_data)) {
                    let movieListHTML = '<h2>Select a Movie</h2><form id="target-selection-form"><ul>';
                    secondMovieData.start_movie_data.forEach(movie => {
                        let releaseDate = movie.release_date || 'Unknown Year';
                        let movieCast = movie.cast && movie.cast !== 'Unknown Cast' ? movie.cast : 'Unknown Cast';
                        movieListHTML += `<li><input type="radio" id="movie_${movie.id}" name="movie_id" value="${movie.id}" required>
                        <label for="movie_${movie.id}" style="color: red;">${movie.original_title} (Release Date: ${releaseDate}) (Top Cast: ${movieCast})</label>
                        </li>`;
                    });
                    movieListHTML += '</ul><button type="submit">Visualize</button></form>';
                    document.getElementById('result').innerHTML = movieListHTML; // Display movie selection
                    document.getElementById('graph').innerHTML = ''; // Clear previous graph

                    // Add event listener for the movie selection form
                    secondMovieId = await new Promise(resolve => {
                        const form = document.getElementById('target-selection-form');
                        form.addEventListener('submit', function (e) {
                            e.preventDefault();
                            resolve(this.movie_id.value);
                        });
                    });
                } else {
                    secondMovieId = secondMovieData.start_movie_data;
                }

                // checks for specialized error messages
                if (firstMovieData.error) {
                    if (secondMovieData.error) {
                        document.getElementById('result').innerText = firstMovieData.error || 'An error occurred.';
                        document.getElementById('result').innerText += "\n" + secondMovieData.error || 'An error occurred.';
                    } else
                        document.getElementById('result').innerText = firstMovieData.error || 'An error occurred.';
                } else if (secondMovieData.error)
                    document.getElementById('result').innerText = secondMovieData.error || 'An error occurred.';
                else {
                    // Fetch the graph data for the two selected movies
                    fetch('/visualizeTwoMovies', {
                        method: 'POST',
                        body: new URLSearchParams({
                            movie_name: firstMovieName,
                            movie_name2: secondMovieName,
                            movie_id: firstMovieId,
                            movie_id2: secondMovieId,
                            max_connections: maxConnections, // Include max connections in the request
                            max_distance: maxDistance // Include max distance in the request
                        })
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.graph_data) {
                             const graphData = JSON.parse(data.graph_data);
                             Plotly.newPlot('graph', graphData.data, graphData.layout);
                             document.getElementById('result').innerText = ''; // Clear previous errors
                         } else {
                             document.getElementById('result').innerText = data.error || 'An error occurred.';
                         }
                     })
                     .catch(error => {
                         console.error('Error:', error);
                         document.getElementById('result').innerText = 'An error occurred while fetching the data.';
                     });
             }
        });

        container.appendChild(label);
        container.appendChild(input);
        container.appendChild(maxDistanceLabel); // Append Max Distance label
        container.appendChild(maxDistanceInput); // Append Max Distance input
        container.appendChild(secondButton);
        container.appendChild(suggestionsDiv);
        form.appendChild(container);
        button.textContent = 'Remove Second Movie';
    }
});

        // retrieves the data used for the two search methods
        function searches(search_method,  startMovie,  targetMovie) {
            document.getElementById('result').innerHTML = ''; // clear previous message
            document.getElementById('graph').innerHTML = ''; // clear previous graph
            let startMovieId = null;
            let targetMovieId = null;
            fetch('/get_movie_list', {
                method: 'POST',
                body: new URLSearchParams({
                    start_movie: startMovie,
                    target_movie: targetMovie,
                    startMovie: startMovie,
                    targetMovie: targetMovie
                })
            })
                .then(response => response.json())
                .then(async data => {
                    if(data.error)
                        document.getElementById('result').innerText = data.error || 'An error occurred';
                    else {
                        // if multiple movies found prints out a list of options
                        if (Array.isArray(data.start_movie_data)) {
                            // Handle the case where multiple movies are found
                            let movieListHTML = '<h2>Select a Movie</h2><form id="start-selection-form"><ul>';
                            data.start_movie_data.forEach(movie => {
                                // Check for Release Date
                                let releaseDate = 'Unknown Year';
                                if (movie.release_date)
                                    releaseDate = movie.release_date;
                                // Check for Top Cast
                                let movieCast = 'Unknown Cast';
                                if (movie.cast && movie.cast !== 'Unknown Cast') {
                                    movieCast = movie.cast;
                                }
                                movieListHTML += `<li><input type="radio" id="movie_${movie.id}" name="movie_id" value="${movie.id}" required>
                        <label for="movie_${movie.id}" style="color: red;">${movie.original_title} (Release Date: ${releaseDate}) (Top Cast: ${movieCast})</label>
                        </li>`;
                            });
                            movieListHTML += '</ul><button type="submit">Find Kevin Bacon Number</button></form>';
                            document.getElementById('result').innerHTML = movieListHTML; // Display movie selection
                            document.getElementById('graph').innerHTML = ''; // Clear previous graph

                            // Add event listener for the movie selection form
                            startMovieId = await new Promise(resolve => {
                                const form = document.getElementById('start-selection-form');
                                form.addEventListener('submit', function (e) {
                                    e.preventDefault(); // prevents form submission
                                    resolve(this.movie_id.value); // resolves the promise with the selected movie ID
                                });
                            });
                        } else
                            startMovieId = data.start_movie_data;

                        // same process but with target movie
                        if (Array.isArray(data.target_movie_data)) {
                            // Handle the case where multiple movies are found
                            let movieListHTML = '<h2>Select a Movie</h2><form id="target-selection-form"><ul>';
                            data.target_movie_data.forEach(movie => {
                                // Check for Release Date
                                let releaseDate = 'Unknown Year';
                                if (movie.release_date) {
                                    releaseDate = movie.release_date;
                                }
                                // Check for Top Cast
                                let movieCast = 'Unknown Cast';
                                if (movie.cast && movie.cast !== 'Unknown Cast') {
                                    movieCast = movie.cast;
                                }

                                movieListHTML += `<li><input type="radio" id="movie_${movie.id}" name="movie_id" value="${movie.id}" required>
                        <label for="movie_${movie.id}" style="color: red;">${movie.original_title} (Release Date: ${releaseDate}) (Top Cast: ${movieCast})></label>
                        </li>`;
                            });
                            movieListHTML += '</ul><button type="submit">Find Kevin Bacon Number</button></form>';
                            document.getElementById('result').innerHTML = movieListHTML; // Display movie selection
                            document.getElementById('graph').innerHTML = ''; // Clear previous graph

                            // Add event listener for the movie selection form
                            targetMovieId = await new Promise(resolve => {
                                const form = document.getElementById('target-selection-form');
                                form.addEventListener('submit', function (e) {
                                    e.preventDefault(); // prevents form submission
                                    resolve(this.movie_id.value); // resolves the promise with the selected movie ID
                                });
                            });
                        } else
                            targetMovieId = data.target_movie_data;

                        // calling the passed-in search choice from the function
                        fetch(search_method, {
                            method: 'POST',
                            body: new URLSearchParams({
                                start_movie: startMovie,
                                target_movie: targetMovie,
                                start_movie_id: startMovieId,
                                target_movie_id: targetMovieId
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.graph_data) {
                                    document.getElementById('result').innerText = 'Time taken to find path: ' + data.run_time.toFixed(4) + ' seconds';
                                    const graphData = JSON.parse(data.graph_data);
                                    Plotly.newPlot('graph', graphData.data, graphData.layout);
                                } else {
                                    document.getElementById('result').innerText = data.error || 'An error occurred';
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                if (search_method === '/dijkstra')
                                    document.getElementById('result').innerText = 'An error occurred while performing Dijkstra';
                                else if (search_method === '/bfs')
                                    document.getElementById('result').innerText = 'An error occurred while performing BFS';
                            });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('result').innerText = 'An error occurred while fetching the data';
                });
        }

         // BFS button click
        document.getElementById('bfs-button').addEventListener('click', function(){
            const startMovie = document.getElementById('start_movie').value;
            const targetMovie = document.getElementById('target_movie').value;
            searches('/bfs', startMovie, targetMovie);
        });

        // BFS button click
       document.getElementById('dijkstra-button').addEventListener('click', function() {
            const startMovie = document.getElementById('startMovie').value;
            const targetMovie = document.getElementById('targetMovie').value;
            searches('/dijkstra', startMovie, targetMovie);
});

    </script>
</body>
</html>
